.principal {
    background-image: url(“img/Background.png”);
    } .container__botao{
        .container__botao {
            background-color: var(--botao-azul);
            border-radius: 5px;
            padding: 1em;
            color: var(--branco-principal);
            display: block;
        }
        
    }